body{
  margin: 0 !important;
}

spirit-name, section-title, growth sub-section-title, .non-icon, growth-cell div.custom-scaling, info-title, innate-info, threshold-or {
  font-family: 'Mouse Memoirs' !important;
}

/* Special Rules */

/* Growth */

/* growth section-title{
    padding-top: 20px;
} */


/* Presence Tracks */

presence-node icon.gather>icon.blight {
  width: 45px;
  height: 37px;
  left: 70px;
  top: 11px;
}

/* Innate Powers */
